header{
  background-color:#E2EEC2;
}

.container {
  background-color: #FFF0CE;
}

body {
  background-color:#FFF0CE;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.col-sm-4 {
  padding: 20px;
}

body header {
	font-size: 20px;
  font-family: 'Cardo', serif;
  color: rgb(46,105,163);
}

.row h2 {
  color: rgb(46,105,163);
	font-size: 56px;
  font-family: 'Cardo', serif;
}

p {
  font-family: 'Tajawal', sans-serif;
  font-size: 19px;
}
